.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  padding: 93px 15px 94px;

  @media screen and (min-width: 768px) {
    padding: 208px 159px 207px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  width: 100%;
  position: relative;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

// Form styles
.form {
  padding: 40px;
}

.form__caption {
  color: $title-text-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__text {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__field {
  display: flex;
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.form__icon {
  position: absolute;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  &:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__input:focus + .form__icon {
  color: $accent-color;
}

.form__agree {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.form__check {
  display: inline-flex;
  margin-right: 7px;
  cursor: pointer;
}

.form__check-icon {
  width: 16px;
  height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__check:checked + .form__check-icon {
  background-color: $accent-color;
  border-color: $accent-color;
}

.form__link {
  color: $accent-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn-send {
  margin-top: 30px;
}
