html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  font-family: 'Roboto', sans-serif;
  color: $title-text-color;
  letter-spacing: 0.03em;
}

.container {
  // width: 1200px;
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  @include font(bold, 36px, 1.17);
  // text-align: center;
  color: $title-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// Section

.section {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.none {
  display: none;
}

.img_mobile {
  @media screen and (max-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 481px) {
    display: none;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.img_tablet {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 481px) {
    display: block;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.img_desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 481px) {
    display: none;
  }
  @media screen and (min-width: 769px) {
    display: block;
  }
}
