.button {
  display: block;
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.btn-list__button-portfolio {
  display: block;
  background-color: $grey-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.btn-list__button-all {
  display: block;
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.btn-list__button-all:hover,
.btn-list__button-all:focus,
.btn-list__button-portfolio:hover,
.btn-list__button-portfolio:focus {
  color: $primary-white-color;
  background-color: $accent-color;
  outline: none;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
