.page-footer {
  background-color: $bgd-color;
  padding: 60px 0;
}

.page-footer .container {
  display: flex;

  @media screen and (max-width: 1199px) {
    align-items: center;
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.page-footer__container {
  display: flex;

  @media screen and (max-width: 767px) {
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }
}

.address {
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}

.address__town {
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social {
  width: 206px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__title {
  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
}

// .footer-social-list .item {
//   width: 44px;
//   height: 44px;
//   background: rgba(255, 255, 255, 0.1);
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 50%;
// }

.footer-social-list__item + .footer-social-list__item {
  margin-left: 10px;
}

.footer-social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $primary-white-color;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .footer-social-list .item:nth-child(1) {
//   background-image: url(../images/icons.svg/instagram.svg);
// }

// .footer-social-list .item:nth-child(2) {
//   background-image: url(../images/icons.svg/twitter.svg);
// }

// .footer-social-list .item:nth-child(3) {
//   background-image: url(../images/icons.svg/facebook.svg);
// }

// .footer-social-list .item:nth-child(4) {
//   background-image: url(../images/icons.svg/linkedin.svg);
// }

// .footer-social-list .item:hover {
//   background-color: var(--accent-color);
//   cursor: pointer;
// }

.subscribe {
  width: 570px;
  //  margin-left: 93px;

  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}

.subscribe__form {
  display: flex;

  @media screen and (max-width: 1199px) {
    align-items: center;
    flex-direction: column;
  }
}

.subscribe__input-mail {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  height: 50px;
  padding: 15px 16px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background: $bgd-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe .button {
  display: flex;
}

.subscribe__icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
