.page-footer {
  background-color: $bgd-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.address {
  font-style: inherit;
}

.address__town {
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-list__item + .footer-list__item {
  margin-top: 9px;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-social {
  width: 206px;
  margin-right: 93px;
}

.footer__title {
  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

// .footer-social-list .item {
//   width: 44px;
//   height: 44px;
//   background: rgba(255, 255, 255, 0.1);
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 50%;
// }

.footer-social-list__item + .footer-social-list__item {
  margin-left: 10px;
}

.footer-social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $primary-white-color;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .footer-social-list .item:nth-child(1) {
//   background-image: url(../images/icons.svg/instagram.svg);
// }

// .footer-social-list .item:nth-child(2) {
//   background-image: url(../images/icons.svg/twitter.svg);
// }

// .footer-social-list .item:nth-child(3) {
//   background-image: url(../images/icons.svg/facebook.svg);
// }

// .footer-social-list .item:nth-child(4) {
//   background-image: url(../images/icons.svg/linkedin.svg);
// }

// .footer-social-list .item:hover {
//   background-color: var(--accent-color);
//   cursor: pointer;
// }

.subscribe {
  width: 570px;
  //  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input-mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background: $bgd-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__input-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .button {
  display: flex;
}

.subscribe__icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
