.page-header {
  height: 60px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
  }
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-header .nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.site-nav {
  display: none;
  margin-left: 93px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

//  .site-nav .site-nav-li {
//   margin-right: 50px;
// }

// .site-nav .site-nav-li:last-child {
//   margin-right: 0;
// }*/

// .site-nav .site-nav-li:not(:last-child) {
//   margin-right: 50px
// }

.site-nav__link {
  position: relative;
  display: block;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;

  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.site-nav__link--active {
  color: $accent-color;
  fill: $accent-color;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background: $accent-color;
    border-radius: 2px;
  }
}

// Contact

.contact {
  // margin: 0;
  // padding: 0;
  // margin-left: auto;

  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

// .contact__item {
//   display: flex;
//   align-items: center;
// }

.contact__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contact__item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

// .contact__item + .contact__item {
//   margin-left: 50px;
// }

.contact__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  fill: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  // padding-top: 32px;
  // padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
}

// .contact__icon-mail::before {
//   display: inline-flex;
//   content: '';
//   width: 16px;
//   height: 12px;
//   margin-right: 10px;
//   background: var(--primary-white-color);
//   background-image: url(../images/icons.svg/mail.svg);
//   background-size: contain;
//   background-repeat: no-repeat;
// } */

//  .contact__icon-tel::before {
//   display: inline-flex;
//   content: '';
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
//   background: var(--primary-white-color);
//   background-image: url(../images/icons.svg/tel.svg);
//   background-size: contain;
//   background-repeat: no-repeat; }

// Menu mobile

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  position: absolute;
  z-index: 1000;
  top: -5px;
  right: 10px;
  &:active {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;

  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  padding: 48px 40px;
  z-index: 999;
  // @media screen and (max-width: 767px) {
  //   display: none;
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   width: 100%;
  // }

  &.is-open {
    display: block;
  }
}

.icon-cross,
.icon-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.icon-menu {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile-menu {
  font-weight: 500;
  letter-spacing: 0.02;
  margin-bottom: 37.94vh;

  @media screen and (min-width: 480px) {
    margin-bottom: 302px;
  }
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 4.02vh;

    @media screen and (min-width: 480px) {
      margin-bottom: 32px;
    }
  }
}

.mobile-menu__link {
  font-size: 8.333vw;
  line-height: 1.175;
  color: $title-text-color;

  &:hover,
  &:focus,
  &__link--active {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

.mobile-contacts {
  margin-bottom: 8.04vh;
  @media screen and (min-width: 480px) {
    margin-bottom: 64px;
  }
}

.mobile-contacts__tel {
  font-size: 7.083vw;

  display: block;
  line-height: 1.176;
  color: $accent-color;
  margin-bottom: 4.02vh;

  @media screen and (min-width: 480px) {
    font-size: 34px;
    margin-bottom: 32px;
  }
}

.mobile-contacts__email {
  display: block;
  font-size: 5vw;
  line-height: 1.167;
  color: $primary-text-color;
}

.mobile-social {
  display: flex;
  width: 100%;
}

.mobile-social__link {
  display: block;
  font-size: 3.75vw;
  line-height: 1.22;
  color: $accent-color;
}

.mobile-social__item:not(:last-child) .mobile-social__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 2.083vw;

  @media screen and (min-width: 480px) {
    padding-right: 10px;
  }
}

.mobile-social__item:not(:first-child) .mobile-social__link {
  padding-left: 2.083vw;

  @media screen and (min-width: 480px) {
    padding-left: 10px;
  }
}
