.job {
  display: none;
  padding-top: 0;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.job-list {
  display: flex;
  flex-wrap: wrap;
}

.job-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

// .job-list__item + .job-list__item {
//   margin-left: 30px;
// }

.job-list__img {
  display: block;
  max-width: 100%;
}

.job-list__text {
  position: absolute;
  padding: 0;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}
