.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $primary-black-color;
}

.logo-studio--white {
  color: $primary-white-color;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;

  &:hover {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.logotip {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;

  &:hover {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
