.team {
  background-color: $grey-color;
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    @media screen and (min-width: 480px) {
      margin: -15px;
    }
  }
}

.team-list__item {
  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 15px;

  @media screen and (min-width: 480px) {
    margin: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-list__img {
  max-width: 100%;
  height: auto;
}

// .team-list__item + .team-list__item {
//   margin-left: 30px;
// }

.team-list__card {
  background: $primary-white-color;
  margin: 0;
  padding: 30px 32px;
}

.team-list__title {
  margin-bottom: 10px;
  padding: 0;
  @include font(500, 16px, 1.19);
  text-align: center;
  color: $title-text-color;
}

.team-list__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  padding: 0;
}

.social-networks {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-networks__item {
  box-shadow: none;
}

//   display: inline-flex;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   background: var(--primary-white-color);
//   background-size: 20px;
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 50%;

.social-networks__item + .social-networks__item {
  margin-left: 10px;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: $primary-white-color;
  fill: $klients-fill;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background: $accent-color;
    cursor: pointer;
  }
}

// .social-networks .item:nth-child(1) {
//   background-image: url(../images/icons.svg/instagram2.svg);
// }

// .social-networks .item:nth-child(2) {
//   background-image: url(../images/icons.svg/twitter2.svg);
// }

// .social-networks .item:nth-child(3) {
//   background-image: url(../images/icons.svg/facebook2.svg);
// }

// .social-networks .item:nth-child(4) {
//   background-image: url(../images/icons.svg/linkedin2.svg);
// }

// .social-networks .item:hover {
//   background-color: var(--accent-color);
//   cursor: pointer;
// }

// .social-networks .item:nth-child(1):hover {
//   background-image: url(../images/icons.svg/instagram.svg);
// }

// .social-networks .item:nth-child(2):hover {
//   background-image: url(../images/icons.svg//twitter.svg);
// }

// .social-networks .item:nth-child(3):hover {
//   background-image: url(../images/icons.svg/facebook.svg);
// }

// .social-networks .item:nth-child(4):hover {
//   background-image: url(../images/icons.svg/linkedin.svg);
// }
