$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$bgd-color: #2f303a;
$grey-color: #f5f4fa;
$klients-fill: #afb1b8;
